h2 {
  color: goldenrod;
  text-align: center;
}
nav, h3 , h4{
  color: green;
  text-align: center;
}

nav{
  text-align: right;
}
/*
h3 {
  color: green;
  text-align: center;
}
h4{
  color: green;
  text-align: center;
}*/
.grid{
  
}
.fondo{
  display: flex;
  background-image: url(../img/hero.jpg);

}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    /* background-color: black; */
    color: white;
    padding: 75px;
    width:1000px;
    
  } 
  span{
    color:white;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  #uno {
    grid-column: 1 / 4; /* 1,2,3*/
    grid-row:1/2;
    font-size:40px;
  }
  
  #dos {
    grid-column: 2 / 3;
    grid-row:2/3;
       
  }
  
  #tres {
    grid-column: 3/4;
    grid-row:2/4;
    font-size:50px;
  }
  
  #cuatro {
    grid-column: 3/4;
    grid-row:4/5;
  }
  
  
  